nav.product-filter{
    margin: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.sort {
    display: flex;
    margin: 0px 10px;
    padding: 0 10px;

}

.sliderFilter{
    margin:auto;
    padding: 20px;
    width: 50%;
}

.sliderFilter h4{
    font-weight: 600;
    text-align: center;
}

.collection-sort {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 160px;
}

.HeaderFilters{
    margin-top: 50px;
}

.collection-sort select {
    font-size: 15px;
}